sportteam/.idea/*
*.iml
*.class
*.jar
*.lst
sportteam/jdbc/target/*
sportteam/jdbc/target/*

MyProduct/.idea/*
MyProduct/out/*

MyProductJpa/.idea/*
MyProductJpa/jpamodule/target/*
MyProductJpa/out/*

spring-hello/.idea/*
spring-hello/target/*

spring_hibernate/.idea/*
spring_hibernate/target/*

springmvcanotation/.idea/*
springmvcanotation/.target/*

springmvc/.idea/*
springmvc/.target/*

springmvcvalidation/.idea/*
springmvcvalidatio/.target/*
springmvcvalidation/target/*

newspringmvcjs/.idea/*
newspringmvcjs/.target/*
newspringmvcjs/target/*

Temp/.idea/*

